@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  padding: 0;
}

/* Tweets body */
a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #ccc;
}

a:hover .name {
  text-decoration: underline;
}

p {
  margin-top: 0;
}

.card {
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 12px;
}

.card.summary {
  padding: 0;
}

.card.summary > .background {
  display: block;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0;
  margin: 0;
  width: 100%;
}

.card.summary > .information {
  color: #333;
  border-top: 1px solid #eee;
  padding: 8px 12px;
}

.card.summary > .information > .title {
  font-weight: bold;
}

.card.summary > .information > div:not(:last-child) {
  margin-bottom: 4px;
}

.card.summary .domain {
  color: #888;
}

.tweets-container {
  margin: auto;
  max-width: 800px;
}

.tweets-header {
  margin: auto;
  max-width: 800px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: -1px;
  margin-top: 30px;
}

.tweets-container > .tweet:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.tweet {
  position: relative;
  border-radius: 0;
  padding-left: 72px;
  margin-bottom: -1px;
}

.tweet > .author > .avatar {
  position: absolute;
  border-radius: 4px;
  top: 12px;
  left: 12px;
  width: 48px;
  height: 48px;
}

.tweet > .author > .name {
  font-weight: bold;
}

.tweet > .author > .username {
  color: #888;
}

/* profile heading */
.card_head {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-top: 30px;
}

.title {
  color: grey;
  font-size: 18px;
}

.follow {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #337ab7;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}


button:hover, a:hover {
  opacity: 0.7;
}

/* all forms */
form {
    border: 1px solid #ccc;
    padding: 50px;
    background-color: #fff;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

input[type=submit] {
    background-color: #337ab7;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

input[type=submit]:hover {
    opacity: 1;
}

input, label {
    display:block;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  input {
     width: 100%;
  }
}