<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
      integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Document</title>
  </head>
  <body>
    {% include 'ext/base.html' %}

    <div id="box" class="container">
      <div class="form-container signin-container">
        <h1>{{heading_one}}</h1>
        <h1>{{heading_two}}</h1>
        <h1>{{heading_three}}</h1>
        <form action="" method="POST">
          {% csrf_token %} {{ form.as_p }}
          <input class="ghost" type="submit" value="Submit" />
          {% if heading_two %}
          <p>Already have an account <a href="/login">Login</a></p>
          {% elif heading_one %}
          <p>Don't have an account <a href="/signup">Sign Up</a></p>
          {% endif %}
        </form>
      </div>
    </div>

    <footer class="container">
      <p>
        copyright <i class="far fa-copyright"></i> by
        <a href="#" target="_blank">Latisha Shanice </a>Hope you enjoy the
        website <a href="#" target="_blank">here</a>
      </p>
    </footer>
  </body>
</html>
